.minotaur {
  background-color: #282c34;
  font-size: calc(20px + 5vmin);
  height: 100vh;
  color: #F0F8FF;
  padding: calc(20px + 5vmin);
}

button {
  padding: 20px;
  width: 400px;
  font-size: 20px;
  background: #F0F8FF;
  border-radius: 10px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background: #cce7ff;
}

button:focus {
  outline: 0;
}

.App-link {
  color: #61DAFB;
}

.days {
  color: #FEFB9E;
}